# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/
# Aiken's default documentation export
docs/
# Node
node_modules/
# Dune build directory (client-ocaml)
client-ocaml/_build/
